body {
	font-family:monospace;
}

.container {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 10px;
}


.memory {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 10px;
}
.memory li {
	float:left;
	list-style:none;

}

.memory .active {
	background:coral;
}

canvas {
	width:256px;
	height:256px;
}
